In [3]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta
from statsmodels.tsa.arima.model import ARIMAResults

In [4]:
# Title
st.title("ðŸ“Š Ethereum Price Forecasting (ETH/USDT)")
st.markdown("Predict future prices using a pre-trained ARIMA model.")

2025-06-15 12:34:28.421 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:34:28.422 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:34:28.424 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:34:28.426 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [27]:
df = pd.read_csv("eth_price.csv")
df

,Date,C,H,L,O,V
0,2017-11-09,320.884003,329.451996,307.056000,308.644989,893249984
1,2017-11-10,299.252991,324.717987,294.541992,320.670990,885985984
2,2017-11-11,314.681000,319.453003,298.191986,298.585999,842300992
3,2017-11-12,307.907990,319.153015,298.513000,314.690002,1613479936
4,2017-11-13,316.716003,328.415009,307.024994,307.024994,1041889984
...,...,...,...,...,...,...
2605,2024-12-27,3328.916992,3436.710693,3302.575684,3331.053711,24091627403
2606,2024-12-28,3397.902344,3419.920166,3318.033936,3328.774658,14305648523
2607,2024-12-29,3349.513428,3406.648438,3321.664795,3397.862549,13440907792
2608,2024-12-30,3356.392578,3428.527344,3298.804443,3349.585938,26981583962
2609,2024-12-31,3332.531738,3444.396729,3311.412598,3356.394775,20845452085

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2610 entries, 2017-11-09 to 2024-12-31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   2610 non-null   int64
 1   C       2610 non-null   float64
 2   H       2610 non-null   float64
 3   L       2610 non-null   float64
 4   O       2610 non-null   float64
 5   V       2610 non-null   int64
dtypes: float64(4), int64(2)
memory usage: 142.7 KB

In [32]:
df.columns

Index(['index', 'C', 'H', 'L', 'O', 'V'], dtype='object')

In [33]:
df.columns

Index(['index', 'C', 'H', 'L', 'O', 'V'], dtype='object')

In [38]:
df.reset_index().drop('index', axis=1)

,Date,C,H,L,O,V
0,2017-11-09,320.884003,329.451996,307.056000,308.644989,893249984
1,2017-11-10,299.252991,324.717987,294.541992,320.670990,885985984
2,2017-11-11,314.681000,319.453003,298.191986,298.585999,842300992
3,2017-11-12,307.907990,319.153015,298.513000,314.690002,1613479936
4,2017-11-13,316.716003,328.415009,307.024994,307.024994,1041889984
...,...,...,...,...,...,...
2605,2024-12-27,3328.916992,3436.710693,3302.575684,3331.053711,24091627403
2606,2024-12-28,3397.902344,3419.920166,3318.033936,3328.774658,14305648523
2607,2024-12-29,3349.513428,3406.648438,3321.664795,3397.862549,13440907792
2608,2024-12-30,3356.392578,3428.527344,3298.804443,3349.585938,26981583962
2609,2024-12-31,3332.531738,3444.396729,3311.412598,3356.394775,20845452085

In [39]:
@st.cache_data
def load_data():
    df = pd.read_csv("eth_price.csv")
    df = df.reset_index().drop('index', axis=1)
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index("Date", inplace=True)
    return df

2025-06-15 12:50:43.835 No runtime found, using MemoryCacheStorageManager

In [40]:
@st.cache_resource
def load_model():
    model = ARIMAResults.load("arima_model.pkl")
    return model

In [41]:
# Load
df = load_data()
model = load_model()

2025-06-15 12:50:45.250 No runtime found, using MemoryCacheStorageManager
2025-06-15 12:50:45.252 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:45.253 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:45.255 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:45.279 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:45.281 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [42]:
# Date filter
st.subheader("ðŸ“… Select Date Range to View Historical Data")
start_date = st.date_input("Start Date", df.index.min().date())
end_date = st.date_input("End Date", df.index.max().date())

2025-06-15 12:50:45.990 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:45.992 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.065 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.066 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.067 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.069 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.073 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.075 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.076 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.077 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.079 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:50:46.080 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [43]:
# Filtered Data
filtered_df = df.loc[start_date:end_date]

In [45]:
# Show historical data
st.subheader("ðŸ“ˆ Historical ETH Price")
st.line_chart(filtered_df["C"])

2025-06-15 12:54:00.336 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:00.338 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:02.953 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:02.954 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [46]:
# User input for prediction
n_days = st.number_input("ðŸ”® Number of Days to Forecast", min_value=1, max_value=100, value=10)

2025-06-15 12:54:26.385 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:26.387 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:26.388 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:26.390 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:26.391 Session state does not function when running a script without `streamlit run`
2025-06-15 12:54:26.393 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:54:26.394 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [52]:
# Predict
if st.button("ðŸš€ Predict Future Prices"):
    forecast = model.get_forecast(steps=n_days)
    pred = forecast.predicted_mean

    last_date = df.index[-1]
    future_dates = pd.date_range(start=last_date + timedelta(days=1), periods=n_days)

    pred_df = pd.DataFrame({'Predicted Price': pred.values}, index=future_dates)
        # Combined chart
    combined = pd.concat([df["C"].tail(30), pred_df["Predicted Price"]])
    st.subheader("ðŸ“Š Combined Chart: Last 30 Days + Forecast")
    st.line_chart(combined)
        # Show forecast table (optional)
    st.subheader("ðŸ§¾ Forecast Data")
    st.dataframe(pred_df)

2025-06-15 12:57:03.388 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:57:03.390 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:57:03.391 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:57:03.393 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-15 12:57:03.394 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.